<section class="movie-section main-section">
  <div class="container">
    
    <!-- Favourites -->
    @if (favouriteMovies.length > 0) {

      <!-- Title H1 -->
      <h1 class="visually-hidden">Улюблені фільми</h1>

      <!-- Loop -->
      <app-movie-list
        [movies]="favouriteMovies"
        [title]="'Улюблені фільми'"
        [context]="'favourites'"
      ></app-movie-list>

    <!-- Empty State -->
    } @else {
      <section class="page-empty-state">
        <div class="page-empty-state__container container-extra-small">
          <a routerLink="/" class="page-empty-state__logo-link">
            <img
              src="./assets/images/bingeberd-logo.svg"
              alt="bingeberd"
              class="sidebar__logo-img"
            />
          </a>
          <h1 class="page-empty-state__title">улюблені фільми</h1>
          <p class="page-empty-state__description">
            Ваша колекція улюблених фільмів порожня. Додайте фільми, щоб побачити
            їх тут.
          </p>
        </div>
      </section>
    }
  </div>
</section>
