.page-empty-state {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: clampFunction(60, 30);
    padding-bottom: clampFunction(60, 30);
  }

  &__logo-link {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 200px;
  }

  &__logo {
    width: 100%;
  }

  &__title {
    font-size: clampFunction(76, 34);
    font-weight: 700;
    color: $primary-text-color;
  }

  &__description {
    $clampStart: 980;
    font-size: clampFunction(16, 14);
    font-weight: 400;
    line-height: 1.5;
    color: $secondary-text-color;
    margin-top: 0;

    a {
      color: $accent;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
