// Scrollbar
.scroll-container {
  overflow-x: auto;
  padding-bottom: 12px;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: inherit;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:focus::-webkit-scrollbar-thumb,
  &:active::-webkit-scrollbar-thumb,
  &:hover::-webkit-scrollbar-thumb {
    background: rgba($accent, 50%);
  }
}
