@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.page-about {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__logo-link {
    margin-bottom: 1rem;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
  }

  &__title {
    font-weight: 700;
    color: $primary-text-color;
  }

  &__description {
    font-size: clampFunction(20, 16);
    font-weight: 400;
    line-height: 1.5;
    color: $secondary-text-color;
  }
}
