* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$app-background-color: #2d2d2d;
$app-text-color: rgba(255, 255, 255, 0.92);

body {
  background-color: $app-background-color;
  color: $app-text-color;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
