@import "styles/_variables.scss";
@import "styles/_fonts.scss";
@import "styles/_mixins.scss";
@import "styles/_layout.scss";
@import "styles/_scrollbar.scss";
@import "styles/_empty-state-page.scss";

::selection {
  background-color: $complementary;
  color: $light;
}

// Appereance
body {
  background-color: $app-background-color;
  color: $primary-text-color;

  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
}

h1 {
  font-family: "Alumni Sans", sans-serif;
  font-size: clampFunction(76, 34);
  font-weight: 800;
  line-height: 1;
  margin-top: 0.35em;
  margin-bottom: 0.35em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h2 {
  font-family: "Alumni Sans", sans-serif;
  font-size: clampFunction(54, 28);
  font-weight: 800;
  line-height: 1;
  margin-top: 0.85em;
  margin-bottom: 0.25em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h3 {
  // font-family: "-apple-system", BlinkMacSystemFont, "-webkit-system-font", "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Alumni Sans", sans-serif;
  font-size: clampFunction(42, 24);
  font-weight: 800;
  letter-spacing: 0.025em;
  margin-bottom: 1em;
}

p,
a {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.menu-list {
  list-style-type: none;

  a {
    color: inherit;
    text-decoration: none;
  }
}

// Rating
.module-rating {
  display: flex;
  align-items: center;
  gap: 0.4em;
  line-height: 1.2em;

  .pi {
    font-size: 0.7em;
    color: darkgoldenrod;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@include desktop {
  .onTablet {
    display: none;
  }
}
