@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.sidebar {
  background-color: #1b1b1b;
  border-right: 1px solid #333;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1em;
    height: 64px;

    & .sidebar__logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;

      & span {
        color: white;
        font-weight: 600;
        font-size: 15px;
        line-height: 1;
        position: relative;
        top: 7px;
      }
    }

    & .sidebar__logo-img {
      height: 32px;
    }

    & .sidebar__close {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .sidebar__close-icon {
      color: $secondary-text-color;
      padding: 10px;
      margin-right: -10px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:focus,
      &:hover {
        color: $primary-text-color;
        background-color: rgba($light, 0.1);
      }
    }
  }

  &__search {
    position: relative;
    margin: 1rem 0.75rem;

    &-input {
      width: 100%;
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      border: 1px solid rgba($light, 15%);
      border-radius: 0.25rem;
      background-color: #1b1b1b;
      color: $primary-text-color;
      font-size: 14px;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $accent;
      }
    }

    &-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $secondary-text-color;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    & .active .sidebar__menu-link {
      background-color: rgba($light, 0.1);
    }
  }

  &__menu-item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($light, 5%);
    }
  }

  &__menu-link {
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    color: $primary-text-color;
    text-decoration: none;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateX(0.5em);
    }

    & .sidebar__icon {
      margin-right: 0.75rem;
      color: $accent;

      &--right {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__footer {
    list-style: none;
    padding: 0 0 8px 0;
    margin: 0;
    margin-top: auto;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .active a {
      color: $primary-text-color;
    }
  }

  &__footer-link {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem 0.75rem;
    color: $secondary-text-color;
    font-size: 0.8rem;
    text-decoration: none;

    &:hover {
      color: $primary-text-color;
    }

    & .sidebar__icon {
      font-size: 90%;
      margin-right: 0.5rem;
    }
  }
}
