@import "../../../styles/variables.scss";

.footer {
  background: rgba(45, 45, 45, 0.88);
  font-size: 12px;
  color: $secondary-text-color;

  &__container {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  &__menu__list {
    margin: 0;
    display: flex;
    gap: 12px;
    line-height: 1.2;

    a {
      line-height: inherit;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $primary-text-color;
      }
    }

    .active {
      a {
        color: $primary-text-color;
      }
    }
  }
}
