<!-- FAVOURITE BUTTON -->
@if (context !== 'watchlist') {
    @if (!isFavourite) {
        <button pButton type="button" icon="pi pi-heart"
                (click)="toggleFavourite($event)"
                title="Мені це подобається"
                class="{{ buttonClass }} action-button--favourite">
        </button>
    } @else {
        <button pButton type="button" icon="pi pi-heart-fill"
                (click)="toggleFavourite($event)"
                title="Більше не подобається"
                class="{{ buttonClass }} action-button--favourite action-button--active">
        </button>
    }
}
  
<!-- WATCHLIST BUTTON -->
@if (context !== 'favourites') {
    @if (!isInWatchlist) {
        <button pButton type="button" icon="pi pi-plus"
                (click)="toggleWatchlist($event)"
                title="Подивитися пізніше"
                class="{{ buttonClass }} action-button--watchlist">
        </button>
    } @else {
        <button pButton type="button" icon="pi pi-check"
                (click)="toggleWatchlist($event)"
                title="Прибрати з перегляду"
                class="{{ buttonClass }} action-button--watchlist action-button--active">
        </button>
    }
}