<mat-card class="movie-card">
  <!-- Poster -->
  <div class="movie-card__poster">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + data.backdrop_path" [alt]="data.title" />
    <div class="movie-card__details">
      <div class="movie-card__rating">
        <span class="material-icons">star</span>
        {{ data.vote_average | RoundPipe: 1 }}
      </div>
      <div class="movie-card__icon-group">
        <button mat-icon-button class="movie-card__icon movie-card__icon-favourite" (click)="addToFavourites()">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="movie-card__icon movie-card__icon-watchlist" (click)="addToWatchList()">
          <mat-icon>playlist_add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-card-content class="movie-card__content">
    <h2 class="movie-card__title">{{ data.title }}</h2>
  </mat-card-content>
</mat-card>





<!-- 
 <article class="movie-card">
  <a class="movie-card__poster" href="#">
      <img [src]="'https://image.tmdb.org/t/p/w500/' + data.backdrop_path" [alt]="data.title"/>

      <div class="movie-card__details">
        <div class="movie-card__rating">
          <span class="material-icons">star</span>
          {{ data.vote_average | RoundPipe: 1}}
        </div>

        <div class="movie-card__icon-group">
          <button class="movie-card__icon movie-card__icon-favourite" (click)="addToFavourites()">
            <span class="material-icons">favorite</span>
          </button>
          <button class="movie-card__icon movie-card__icon-watchlist" (click)="addToWatchList()">
            <span class="material-icons">playlist_add</span>
          </button>
        </div>
      </div>
  </a>

  <div class="movie-card__content">
    <h2 class="movie-card__title"><a href="#">{{ data.title }}</a></h2>
  </div>
</article> 
-->
