<p-card class="movie-card" (click)="navigateToDetails()">

  <!-- Body -->
 <ng-template pTemplate="content">
   <div class="movie-card__poster">

     <!-- Poster -->
     <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" [alt]="movie.title"/>

     <!-- Details -->
     <div class="movie-card__details">

       <!-- Rating -->
       <div class="movie-card__rating module-rating">
         <i class="pi pi-star-fill"></i>
         {{ movie.vote_average | RoundPipe: 1 }}
       </div>

       <!-- Icon Group -->
       <div class="movie-card__icon-group">
           <app-movie-actions
             [isFavourite]="isFavourite"
             [isInWatchlist]="isInWatchlist"
             [context]="context"
             [styleContext]="'card'"
             (favouriteToggled)="toggleFavourite()"
             (watchlistToggled)="toggleWatchlist()"
           ></app-movie-actions>
       </div>

     </div>
   </div>
 </ng-template>

 <!-- Footer -->
 <ng-template pTemplate="footer">

   <!-- Title -->
   <h3 class="movie-card__title"><a href="javascript:void(0)">{{ movie.title }}</a></h3>
   
   <!-- Meta -->
   <div class="movie-card__meta">
     <!-- Date -->
     <div class="movie-card__meta-item movie-card__meta-date">{{ movie.release_date | date : "yyyy" }}</div>
     <!-- Genre -->
     <div class="movie-card__meta-item movie-card__meta-genre">{{ movie.genre }}</div>
   </div>
 </ng-template>

</p-card>
