$dark: #111;
$light: #f5f5f5;
$accent: palevioletred;

.movie-card {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  // Poster
  &__poster {
    border-radius: 10px;
    background-color: $dark;
    box-shadow: 0 0 10px rgba($dark, 10%);
    color: $light;

    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.8;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // Picture
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      border-radius: inherit;

      // Hover
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    // Overlay
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-radius: inherit;

      background: linear-gradient(
        0deg,
        rgba($dark, 80%) 0%,
        rgba($dark, 0) 100%
      );
    }
  }

  // Details
  &__details {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px;
  }

  // Details
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  // Icon Group
  &__icon-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  // Icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    background-color: transparent;
    box-shadow: none;
    border: none;
    color: $light;

    // Hover
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    span {
      font-size: 20px;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover {
      span {
        transform: scale(1.1);
        color: $accent;
      }
    }
  }

  // Rating
  &__rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  // Title
  &__title a {
    text-decoration: none;
    color: $light;
    font-weight: 400;

    font-size: 14px;
    line-height: 1.4em;
    min-height: 2.8em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Hover
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    .movie-card__poster img {
      transform: scale(1.05);
      filter: saturate(1.1);
    }
  }
}
