<article class="movie-card">
  <!-- Poster -->
  <a class="movie-card__poster" href="#">
      <img [src]="'https://image.tmdb.org/t/p/w500/' + data.backdrop_path" [alt]="data.title"/>

      <div class="movie-card__details">
        <!-- Rating -->
        <div class="movie-card__rating">
          <span class="material-icons">star</span>
          {{ data.vote_average | RoundPipe: 1}}
        </div>

        <!-- Buttons -->
        <div class="movie-card__icon-group">
          <button class="movie-card__icon movie-card__icon-favourite" (click)="addToFavourites()">
            <span class="material-icons">favorite</span>
          </button>
          <button class="movie-card__icon movie-card__icon-watchlist" (click)="addToWatchList()">
            <span class="material-icons">playlist_add</span>
          </button>
        </div>
      </div>
  </a>

  <!-- Content -->
  <div class="movie-card__content">
    <!-- Title -->
    <h2 class="movie-card__title"><a href="#">{{ data.title }}</a></h2>
  </div>
</article>
