<div class="movie-section">
  <!-- Movies -->
  <div class="movie-list movie-list__movies">
    <h2 class="movie-list__title">Вибір для кіноманів</h2>
    <div class="movie-list__grid scroll-container">
      @for (movie of movies; track movie.id) {
        <app-movie-card
          [data]="movie"
          (addFavourite)="handleAddFavourite(movie)"
          (addWatchList)="handleAddWatchList(movie)"
          >
        </app-movie-card>
      }
    </div>
  </div>

  <!-- Favourites -->
  @if (favourites.length) {
    <div class="movie-list movie-list__favourites">
      <h2 class="movie-list__title">Улюблене</h2>
      <div class="movie-list__grid">
        @for (movie of favourites; track movie.id) {
          <app-movie-card
            [data]="movie"
            (addFavourite)="handleAddFavourite(movie)"
            (addWatchList)="handleAddWatchList(movie)"
            >
          </app-movie-card>
        }
      </div>
    </div>
  }

  <!-- Watchlist -->
  @if (watchList.length) {
    <div class="movie-list movie-list__watchlist">
      <h2 class="movie-list__title">Подивитись</h2>
      <div class="movie-list__grid">
        @for (movie of watchList; track movie.id) {
          <app-movie-card
            [data]="movie"
            (addFavourite)="handleAddFavourite(movie)"
            (addWatchList)="handleAddWatchList(movie)"
            >
          </app-movie-card>
        }
      </div>
    </div>
  }
</div>