
.movie-list {
    width: 90%; // !! Move to Global Container
    margin: 50px auto; // !! Move to Global Container

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}