.movie-list {
  max-width: 1680px; // !! Move to Global Container
  width: 90%; // !! Move to Global Container
  margin: 50px auto; // !! Move to Global Container

  padding-bottom: 10px;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    &.scroll-container {
      flex-wrap: nowrap;
    }
  }

  &:not(:last-child) {
    margin-bottom: 50px;
    border-bottom: 1px solid #333
  }
  
}
