<div class="movie-section">
  <!-- Movies -->
  <div class="movie-list movie-list__movies">
    <h2 class="movie-list__title">Вибір для кіноманів</h2>
    <div class="movie-list__grid">
      <div *ngFor="let movie of movies">
        <app-movie-card 
          [data]="movie" 
          (addFavourite)="handleAddFavourite(movie)" 
          (addWatchList)="handleAddWatchList(movie)">
        </app-movie-card>
      </div>
    </div>
  </div>

  <!-- Favourites -->
  <div class="movie-list movie-list__favourites">
    <h2 class="movie-list__title">Улюблене</h2>
    <div class="movie-list__grid">
      <div *ngFor="let movie of favourites">
        <app-movie-card 
          [data]="movie" 
          (addFavourite)="handleAddFavourite(movie)" 
          (addWatchList)="handleAddWatchList(movie)">
        </app-movie-card>
      </div>
    </div>
  </div>

  <!-- Watchlist -->
  <div class="movie-list movie-list__watchlist">
    <h2 class="movie-list__title">Подивитись</h2>
    <div class="movie-list__grid">
      <div *ngFor="let movie of watchList">
        <app-movie-card 
          [data]="movie" 
          (addFavourite)="handleAddFavourite(movie)" 
          (addWatchList)="handleAddWatchList(movie)">
        </app-movie-card>
      </div>
    </div>
  </div>
</div>
